:root {
    --background-image-standard: linear-gradient(#6d64ff, #f8a4d8);
    --background-image-reverse: linear-gradient(#f8a4d8, #6d64ff);

    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 32px;
}

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

header {
    background-image: var(--background-image-standard);
    position: relative;
    text-align: center;   
}

h1{
    color: black;
    font-size: calc(2rem + 2vw);
    font-style: oblique; 
    font-weight: bold;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    text-align: center;
    text-decoration: none; 
}

nav {
    background-color: #fff;
    border: 1px solid black;
    position: sticky;
    top: 0
}

nav ul {
    list-style-type: none;
    display: none;
}

.hamburger-menu ul.submenu {
    display: none;
    flex-direction: column;
    padding: var(--spacing-small)
}


section{
    background-image: var(--background-image-standard);
    flex-grow: 1;
    text-align: center;
}

 footer {
    background-color: #131a26;
    border: 1px solid black;
    color: white;
    text-align: center;
    font-size: 1rem;
}

